*{
    margin:0%;
    padding:0%;
}
body{
    background: url('atestat.jpg') no-repeat center left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.formular{
    text-align:center;
    padding: 1%;
}
.formular a{
    color: white;
    font-size: 40px;
    transition: 0.5s;
}
.formular a:hover{
    color:black;
    transition: 0.5s;
}
h1{
    text-align:center;
    color:black;
    font: 40px sans-serif;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: black;
}
.start{
    background-color: rgba(255, 255, 255, 0.8);
    margin-left:20%;
    margin-right: 20%;
}
.start p{
    color: black;
    font: 25px sans-serif;
    text-align: center;
    padding:2%;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: black;
}
.monarhia{
    background-color: rgba(255, 255, 255, 0.8);
    margin: 18%;
    margin-left:20%;
    margin-right: 20%;
}
.monarhia p{
    color: black;
    padding:3%;
    font: 25px sans-serif;
    text-align: center;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: black;
}
.republica{
    background-color: rgba(255, 255, 255, 0.8);
    margin: 18%;
    margin-left:20%;
    margin-right: 20%;
}
.republica p{
    color: black;
    padding:3%;
    font: 25px sans-serif;
    text-align: center;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: black;
}
.imperiu{
    background-color: rgba(255, 255, 255, 0.8);
    margin: 18%;
    margin-left:20%;
    margin-right: 20%;
}
.imperiu p{
    color: black;
    padding:2%;
    font: 25px sans-serif;
    text-align: center;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: black;
}