*{
    margin:0;
    padding: 0;
}
p{
    font-size: 25px;
}

.q1, .q2, .q3, .q4, .q5, .q6, .q7, .q8, .q9, .q10{
    padding-top: 1.5%;
    padding-bottom:3%;
    text-align: center;
    margin-left:42%;
    background-color: rgba(255, 255, 255, 0.8);
    margin-right: 45%;
}